html {
  background-color: rgb(224, 244, 251);
}
main {
  height: 260px;
  width: 480px;
  background-color: lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0px 20px 0px;
}

@media only screen and (max-width: 600px) {
  main {
    height: 500px;
    width: 265px;
  }
  #panel {
    float: none;
    margin-right: 10px;
  }
  #popup {
    margin-right: 10px;
  }
}

#drum-pad-panel {
  height: 240px;
  width: 240px;
  float: left;
}

.btn {
  height: 80px;
  width: 80px;
}

#panel {
  height: 240px;
  width: 240px;
  float: right;
}

.btn:active {
  background-color: red !important;
}

#popup {
  position: absolute;
  right: 45px;
  bottom: 117px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  background-color: #bdf2ff;
}

/* BADGE */

#badge {
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #00a11b;
  color: #f5f9fc;
  padding: 0.3em 0.75em;
  border-radius: 0.3em;
  font-size: 1.25em;
  text-decoration: none;
  box-shadow: 3px 3px 3px black;
}

#badge div {
  opacity: 0.7;
  transition-property: opacity, transform;
  transition: opacity 120ms, transform 120ms;
  transition-timing-function: ease-out;
}

#badge:hover div {
  transform: scale(1.07);
  opacity: 1;
}
